*{
    font-family: 'montserrat',sans-serif;
    margin:0;
    background-color: black;
    color: white;
    overflow: hidden;

}

.main{
    display: flex;
    height: 100vh;
    padding:0.7rem;
    
}

.sidebar{
    background-color: #121212;
    width: 300px;
    border-radius:1rem ;/*16px*/
}


.main-content{
    background-color: #121212;
    flex: 1;
    border-radius:1rem ;/*16px*/
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
    align-items: center;


}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    height: 40px;
    font-size: 1rem;
    opacity: 0.7;
    margin: 0.8 rem;
    padding: 0.5rem 0.7rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.3rem;
}
.nav-option a{
    font-size: 1 rem;

}
.library{
    background-color: #121212;
    border-radius: 1rem;
    padding: 0.5rem 0.7rem;
   height: 100%;
    margin-top: 0.5rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
    font-size: 1.3rem;
}
.icons{
    font-size: 1.25rem;
    opacity: 1;
    margin: 1rem;
    display: flex;
}
.icons i{
    opacity: 0.8;
    margin: 1rem;
}
.icons i:hover{
opacity: 1;
}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.75rem 1rem;
  
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
    

}

.box-p2{
    font-size: 0.9;
    opacity: 0.8;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding:0.25rem 1 rem;
    color: black;
    font-weight: 700;
    margin: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 1rem 0 ;
    z-index: 10;
}
 .sticky-nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .sticky-nav-icons button{
    margin: 1rem;
 }
 .dark-badge{
    background-color: black;
    color: white;
 }
 @media (max-width:1000px){
    .hide{
        display: none;
    }
 }
 .card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
 }
 .cards-container{
    display: flex;
    
 }

 
 .card-image{
    width:100%;
    border-radius: 0.5rem;
 }
.card-title{
    font-weight: 700;
    margin-bottom: px;
    background-color: #232323;
}

.card-info{
    background-color: #232323;
    font-size: 0.75rem;
    opacity: 0.6;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 100%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.left-bottom{
    display:flex;
    align-items: center;
    gap: 10px;
    width:25%
}

.bottom-img{
    height:50px;
    display: flex;

    gap: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}  
.track-details {
    display: flex;
    flex-direction: column;
}

.track-title {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.artist {
    font-size: 12px;
    color: gray;
    margin: 0;
}
 
.centerbottom{
    width: 50%;

}



.right-bottom{
    width:25%;
}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.player-control-icon{
    margin-right: 1.75rem;
    height:1rem;
    opacity:0.7;
     
}
.player-control-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.progress-bar {
   
    flex: 1;
    width: 100%;
    cursor: pointer;
    color: green;
    border-radius: 100%;
}
.progress-bar::-webkit-slider-thumb {
    background-color: green;
}
icon{
    display: flex;
    flex-direction: row;
}
.slider {
    -webkit-appearance: none; /* Removes default styles */
    appearance: none;
    width: 100px;
    height: 5px;
    background: white; /* White track */
    border-radius: 5px;
    cursor: pointer;
    background: white;
    height: 5px;
    border-radius: 5px;
}
